
.categoryBox{
   display: flex;
   justify-content: center;
   align-items: center;
}
  .categoryItem1{
    text-align: center;
    background-color: #FDE7BC;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.249);
    width: 288px;
    height: 382px;
    margin: 20px;
    border-radius: 20px;
  }
  .categoryImg{
    width: 224px;
    height: 212px;
    padding: 20px;
  }
  .categoryItem2{
    text-align: center;
    background-color:#F4FFD2;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.249);
    width: 288px;
    height: 382px;
    margin: 20px;
    border-radius: 20px;
  }
  .categoryItem3{
    text-align: center;
    background-color:#FFA29E;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.249);
    width: 288px;
    height: 382px;
    margin: 20px;
    border-radius: 20px;
  }
  .categoryItem4{
    text-align: center;
    background: #F8C79E;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.249);
    width: 288px;
    height: 382px;
    margin: 20px;
    border-radius: 20px;
  }
  .categoryInfo{
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bolder;
  }
  .categoryInfo_two{
    text-transform: capitalize;
    font-size: 20px;
    padding-top:30px;
    font-weight: bolder;
  }
  
@media only screen and (max-width: 768px) {
  .categoryBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
 }
}
