.head {background: #FFEBD4;
    background-color: #FFEBD4;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 94.5em;
    height: 41.625em;
  }
  
  .text h1 {
    margin-right: 200px;
    font-size: 4em;
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    font-family: inter;
  }

  .text p {
    font-size: 24px;
    font-weight: 300;
    font-family: inter;
  }
  
.HeaderBtn {
    background-color: darkgreen;
    color: white;
    border: none;
    height: 80px;
    width: 189px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 10px;
    text-transform: capitalize;
    font-family: inter;
    
  }
  .hamburger-menu {
    display: none; /* Hide initially on larger screens */
  }
  /* Media Queries for Responsive Design */

/* For tablets and medium-sized screens */
@media only screen and (max-width: 768px) {
  .head {
    padding: 15px;
    flex-direction: column;
    width: 100%; 
    height: auto; 
  }

  .text h1 {
    margin-right: 0; 
    font-size: 3em; 
    text-align: center; 
  }

  .text p {
    font-size: 20px; 
    text-align: center; 
  }

  .HeaderBtn {
    height: 60px; 
    width: 150px; 
    font-size: 20px; 
  }
}

/* For mobile devices */
@media only screen and (max-width: 480px) {
  .head {
    padding: 10px;  
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    height: auto; 
  }
  .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
  }
  h1{
    font-size: 1.2em;
    font-family: inter;
  }
  .text p{
    font-size: 1em;
    font-family: inter;
  }
  .Cart-img{
    width: 40vw;
  }

  .text h1 {
    margin-right: 0; 
    font-size: 2.5em; 
    text-align: center; 
    font-family: inter;
  }

  .text p {
    font-size: 18px; 
    text-align: center;
    font-family: inter; 
  }

  .HeaderBtn {
    height: 50px; 
    width: 120px; 
    font-size: 18px; 
    font-family: inter;
  }
 
}


