
.products-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 15px; 
  margin-bottom: 10em;
}

.product-card {
  border: 1px solid #ccc; 
  width:  235px;
  height: 314px;
  text-align: center;
  background-color: #fff;
  box-shadow: -2px 5px 2px rgba(0, 0, 0, 0.186);
  border-radius: 20px;
}


.product-card img {
 width: 235px;
 height: 232px;
 object-fit: fill;
 border-radius: 20px;

}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.add-to-cart-button {
  background-color: goldenrod;
  color: white;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 5px;
}

.heart{
 height: 1.2em;
 width: 1.2em;
 color: black;
}
.heartCont{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-items: center;
  height: 2em;
  padding: 0 1em;
}
 
.add-to-cart-btn{
  background-color: green;
  border: none;
  border-radius: 5px;
  color: white;
  height: 2em;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.pagination li {
  display: inline;
  margin: 0 5px;
}

.pagination li a {
  cursor: pointer;
  padding: 8px 16px;
  text-decoration: none;
  color: green;
}

.pagination li.active a {
  background-color: green;
  color: white;
  border-radius: 5px;
}

.pagination li.disabled a {
  color: #ddd;
}




/* Media Queries for Responsive Design */

/* For tablets and medium-sized screens */
@media only screen and (max-width: 1024px) {
  .products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  .product-card {
    width: 100%; 
  }
}

/* For small tablets and large phones */
@media only screen and (max-width: 768px) {
  .products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  .product-card {
    width: 100%; 
  }
}

/* For mobile devices */
@media only screen and (max-width: 480px) {
  .products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  .product-card {
    height: 30vh; 
    width: 30vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: none;
  }
  .product-card img{
    width: 20vw;
    height: 15vh;
  }
  .product-card p{
    font-size: 0.5em;
    font-family: inter;
  }
  .add-to-cart-btn{
    font-size: 0.4em;
    height: 3em;
    font-family: inter;
  }
}
